<%- include('partials/header') -%>
<body>
    <h1>    Prevalidation   </h1>
    <a href="/login"> go to login </a>
    <a href="/logout"> logout </a>

    <%- include('partials/messages') -%>
</body>
