<%- include('partials/header') -%>
<body>
    <h1>    Prevalidation   </h1>

    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>Date</th>
                <th>Site</th>
                <th>Region</th>
                <th>Carburant</th>
                <th>Statut</th>
                <th>Origine</th>
                <th>Livraison (BL)</th>
                <th>Stock d'ouverture</th>
                <th>Stock théorique final</th>
                <th>Stock réel final</th>
                <th>Différence</th>
                <th>Volume de ventes</th>
                <th>Tests de pompe</th>
                <th>Ecarts vs vente pour 1000</th>
                <th>Cumul vente</th>
                <th>Cumul écarts</th>
                <th>%Cumul écarts vente</th>
            </tr>
        </thead>
    <tbody class="tbody" style="font-weight: 100;">  
        <tr>
            <th>10/03/2023</th>
            <th>100 - bEHENJY</th>
            <th>ANTANANARIVO</th>
            <th>0001 - GO</th>
            <th>En cours</th>
            <th>DMS</th>
            <th>1 000</th>
            <th>134 026</th>
            <th>135 400</th>
            <th>135 402</th>
            <th>2</th>
            <th>1 414</th>
            <th>0</th>
            <th>13</th>
            <th>121000</th>
            <th>-58,5</th>
            <th>-26,3</th>
        </tr>
        <tr>
            <th>10/03/2023</th>
            <th>100 - IVANDRY</th>
            <th>ANTANANARIVO</th>
            <th>0001 - GO</th>
            <th>En cours</th>
            <th>DMS</th>
            <th>1 000</th>
            <th>134 026</th>
            <th>135 400</th>
            <th>135 402</th>
            <th>2</th>
            <th>1 414</th>
            <th>0</th>
            <th>13</th>
            <th>121000</th>
            <th>-58,5</th>
            <th>-26,3</th>
        </tr>     
    </tbody>    
        <tfoot>
            <tr>
                <th>Date</th>
                <th>Site</th>
                <th>Region</th>
                <th>Carburant</th>
                <th>Statut</th>
                <th>Origine</th>
                <th>Livraison (BL)</th>
                <th>Stock d'ouverture</th>
                <th>Stock théorique final</th>
                <th>Stock réel final</th>
                <th>Différence</th>
                <th>Volume de ventes</th>
                <th>Tests de pompe</th>
                <th>Ecarts vs vente pour 1000</th>
                <th>Cumul vente</th>
                <th>Cumul écarts</th>
                <th>%Cumul écarts vente</th>
            </tr>
        </tfoot>
    </table>

    <a href="/login"> go to login </a>
    <a href="/logout"> logout </a>
</body>
